{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}


    <!-- Banner-Section-Start -->
    <section class="main_banner py-lg-5 py-2">
        <div class="banner_body">
            <div class="container-lg">
                <div class="row justify-content-between align-items-center pb-5">
                    <div class="col-lg-6">
                        <div class="banner_text">
                            
                            {% for item in banners %}
                                <h5>{{ item.title }}</h5>
                                <p>{{ item.description }}</p>
                            {% endfor %}
                        
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="clients_details float-lg-end">
                            <div class="text_bg">
                                <p>Our Clients</p>
                                {% for client in clients %}
                                <div class="clients_link d-flex align-items-center gap-2 pb-3">
                                    <div class="d-flex clinets_box">
                                        <div class="clients_image">
                                            <a href="{{ client.link }}"><img src="{{ client.image.url }}" alt="{{ client.name }}"></a>
                                        </div>                                              
                                    </div>

                                    <div class="clients_meet">
                                        <a href="{{ client.link }}">See more+</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="clients_link d-flex align-items-center gap-2 mt-2">
                                <div class="clients_image">
                                    <a href="{% url 'contact' %}"><img src="{% static 'assets/Image/clients2.png' %}" alt=""></a>
                                </div>
                                <div class="clients_meet">
                                    <p class="mb-0">Contact Us</p>
                                    <a href="">(+91) 7309902183</a>
                                </div>
                            </div>
                            <div class="decover_btn mt-4">
                                <a href="">Discover more</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="slider_main owl-carousel owl-theme">
                {% for image in slider_images %}
                <div class="slider_image_body">
                    <img src="{{ image.image.url }}" alt="{{ image.alt_text }}">
                </div>
                {% endfor %}                
            </div>
        </div>
    </section>
    <!-- Banner-Section-End -->

    <!-- you’ve come to the right place-Section-Start -->
    <section class="Right_place">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="right_place_text ">
                        <h5>Welcome to Our World</h5>
                        <p>Established in 2005, Our Company has emerged as a prominent figure in the global market, specializing in crafting premium leather goods and fashion accessories for discerning individuals. With a dedicated team of over 300 professionals, Our Company prides itself on its cutting-edge design ethos and state-of-the-art manufacturing facilities."</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right_place_image">
                        <img src="{% static 'assets/Image/right_place1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1 order-2">
                    <div class="right_place_image ">
                        <img src="{% static 'assets/Image/right_place2.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-2 order-1 mt-lg-0 mt-3">
                    <div class="right_place_text">
                        <p>
                            "Coupled with our state-of-the-art design facilities, Our Company boasts a workforce of over 500 dedicated employees across various departments. Our three advanced manufacturing units are equipped with cutting-edge machinery, ensuring we stay ahead in the dynamic global leather industry. Our commitment to sustainability is evident in our LEED gold rating, a testament to our environmentally friendly practices. As pioneers in the leather market, we are proud to be the first to introduce such innovation. Presently, we supply our products to more than 25 renowned brands across the USA and Europe."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- you’ve come to the right place-Section-End -->

    <!-- Section Of Numbers Start -->
    <section class="counter_number my-3 py-4">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4">
                    <div class="counter_bg">
                        <h5 id="counter">200</h5>
                        <p>State Of The Art Manufacturing Units​</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="counter_bg">
                        <h5>150</h5>
                        <p>Well-Known USA & European Brands​</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="counter_bg">
                        <h5>300</h5>
                        <p>State Of The Art Manufacturing Units​​</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Of Numbers End -->

    <!-- Disign Section Start -->
    <section class="main_design py-5">
        <div class="container-lg">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="design_containt">
                        <h5 class="mb-3">Design Excellence</h5>
                    </div>
                </div>
                <div class="col-12">
                    <div class="design_containt">
                        <p class="mb-3">Our innovative design studio is the heart of our creative process. Here, our team of skilled designers pioneers new products, treatments, and techniques. We merge traditional craftsmanship like hand padding, hand sewing, knife-cutting, and dip-dyeing with cutting-edge methods such as laser cutting and embossing to craft a versatile product range.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="design_image">
                        <img src="{% static 'assets/Image/design1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1 order-2">
                    <div class="design_image">
                        <img src="{% static 'assets/Image/right_place1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-12 order-lg-2 order-1">
                    <div class="design_containt mt-3">
                        <p>In addition to our seasonal offerings, we collaborate closely with clients to develop bespoke merchandise tailored to their unique requirements. Our in-house seasonal and client-specific collections take center stage in our showrooms.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Disign Section End -->

    <!-- Why Choose Our Firm Section Start -->
    <section class="firm_main_section py-5">
        <div class="container-lg">
            <div class="row justify-content-between align-items-center mb-4">
                <div class="col-lg-4">
                    <div class="firm_content">
                        <h5>Superior Leather</h5>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="firm_contant_bg">
                        <p>Explore our premium selection of full-grain and top-grain leather sourced from renowned tanneries worldwide.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4 col-md-6">
                    <div class="firm_box">
                        <img src="{% static 'assets/Image/setting.png' %}" alt="">
                    </div>
                    <div class="image_text_bg">
                        <h5>Extensive Variety</h5>
                        <p> From cowhide to buffalo, sheep, and goat skin, we offer an array of leather options to suit every need.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="firm_box">
                        <img src="{% static 'assets/Image/setting2.png' %}" alt="">
                    </div>
                    <div class="image_text_bg">
                        <h5>Expertise and Experience</h5>
                        <p>With years of industry experience, our team brings unmatched skills and knowledge to every project.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="firm_box">
                        <img src="{% static 'assets/Image/setting3.png' %}" alt="">
                    </div>
                    <div class="image_text_bg">
                        <h5>Custom Solutions</h5>
                        <p>Partner with us for personalized manufacturing solutions tailored to your brand's specifications.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="firm_box">
                        <img src="{% static 'assets/Image/setting4.png' %}" alt="">
                    </div>
                    <div class="image_text_bg">
                        <h5>Stringent Quality Assurance</h5>
                        <p>We uphold rigorous quality control standards to ensure that every product meets the highest benchmarks.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="firm_box">
                        <img src="{% static 'assets/Image/setting5.png' %}" alt="">
                    </div>
                    <div class="image_text_bg">
                        <h5>Bespoke Manufacturing</h5>
                        <p>From concept to completion, we provide custom manufacturing services to bring your vision to life.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="firm_box">
                        <img src="{% static 'assets/Image/setting6.png' %}" alt="">
                    </div>
                    <div class="image_text_bg">
                        <h5>Elevating Excellence</h5>
                        <p>Explore premium full-grain and top-grain leather sourced globally. From cowhide to buffalo, sheep, and goat skin, each piece reflects unparalleled craftsmanship and distinction.</p>
                    </div>
                </div>
                
            </div>
            <div class="row justify-content-end align-items-center mt-4">
                <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
                    <div class="frim_image_bg">
                        <img src="{% static 'assets/Image/frim1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="frim_image_bg">
                        <img src="{% static 'assets/Image/frim2.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-lg-0 mt-4">
                    <div class="frim_image_bg">
                        <img src="{% static 'assets/Image/frim3.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="row justify-content-end align-items-center mt-4 ">
                <div class="col-lg-6 col-md-12 mb-lg-0 mb-4">
                    <div class="frim_image_bg">
                        <img src="{% static 'assets/Image/frim4.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
                    <div class="frim_image_bg">
                        <img src="{% static 'assets/Image/frim5.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="frim_image_bg">
                        <img src="{% static 'assets/Image/frim6.png' %}" alt="">
                    </div>
                </div>
            </div>
    </section>
    <!-- Why Choose Our Firm Section End -->

    <!-- What We Do Section Start -->
    <section class="products_section py-5">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 col-12">
                    <div class="bags_text">
                        <h5>What We Do?</h5>
                        <p>"Discover the epitome of luxury with our exclusive range of leather goods. From exquisite handbags to sleek laptop carriers, each piece is meticulously crafted to embody sophistication and elevate your style. Experience the perfect blend of elegance and functionality with our timeless creations."</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-12">
                    <div class="link_btn">
                        <ul class="nav list_bg justify-content-around align-items-center gap-2" id="myTab" role="tablist">
                            {% for category, display_name in category_choices %}
                            <li class="nav-item" role="presentation" style="flex: 1;">
                                <button class="nav-link leather py-1 px-2 w-100 {% if forloop.first %}active{% endif %}" id="{{ category }}-tab" data-bs-toggle="tab" data-bs-target="#{{ category }}-tab-pane" type="button" role="tab" aria-controls="{{ category }}-tab-pane" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}" style="font-size: 0.8rem;">
                                    {{ display_name }}
                                </button>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-12">
                    <div class="tab-content" id="myTabContent">
                        {% for category, display_name in category_choices %}
                        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ category }}-tab-pane" role="tabpanel" aria-labelledby="{{ category }}-tab" tabindex="0">
                            <div class="row justify-content-center align-items-center mt-4">
                                {% for product in products %}
                                {% if product.category == category %}
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="{{ product.image.url }}" alt="{{ product.description }}">
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- What We Do Section End -->

    <!-- Sourcing Section Start -->
    <section class="sourcing_main py-5">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="sourcing_content">
                        <h5>Sourcing</h5>
                        <p>"Drawing on years of industry expertise, our business excels not only in manufacturing but also in strategic sourcing. With an extensive network of suppliers, we procure a diverse range of materials to meet our exacting standards.</p>
                        <p>Our dedicated teams operate from specialized hubs located in key sourcing regions, ensuring meticulous quality control throughout the production process. From experimenting with new materials to upholding stringent quality measures, we maintain a relentless pursuit of excellence.</p>
                        <p>When it comes to hardware, we leverage international partnerships, sourcing premium components from reputable manufacturers. Whether it's zippers from renowned brands or bespoke accessories, we prioritize compliance and quality assurance, adhering to the highest standards."</p>
                        <div class="sourcing_link d-flex align-items-center flex-wrap  gap-5 pt-4">
                            <div class="enquiry_btn">
                                <a href="">Enquiry Now</a>
                            </div>
                            <div class="request_btn">
                                <a href="">Request for Quotation</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="sourcing_image">
                                <img src="{% static 'assets/Image/sourcing1.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt-md-0 mt-4">
                            <div class="sourcing_image">
                                <img src="{% static 'assets/Image/sourcing2.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="sourcing_image">
                                <img src="{% static 'assets/Image/frim3.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Sourcing Section End -->

    <!-- Compliance Section Start -->
    <section class="compliance_main">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 col-12">
                    <div class="compliance_text">
                        <h5>Compliance</h5>
                        <p>Ensuring compliance is our top priority, integral to our commitment to integrity and quality. Lorem Ipsum, industry's standard dummy text, underscores our dedication to adhering to regulations. We maintain transparency, striving for excellence in every aspect, from production processes to product safety, earning trust through accountability and reliability.</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-lg-2 col-md-6 col-6 ">
                    <div class="compliace_image">
                        <img src="{% static 'assets/Image/complinces1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="compliace_image">
                        <img src="{% static 'assets/Image/complinces2.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="compliace_image">
                        <img src="{% static 'assets/Image/complinces1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="compliace_image">
                        <img src="{% static 'assets/Image/complinces3.png' %}" alt="">
                    </div>
                </div>
            </div>

        </div>
        </div>
    </section>
    <!-- Compliance Section End -->

    
    <section class="contect_us">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 col-12">
                    <div class="contect_text">
                        <h5>Contact</h5>
                        <p>For all inquiries and assistance, please don't hesitate to contact us directly. We're here to help and look forward to hearing from you.</p>
                    </div>
                </div>
            </div>
            <form action="" method="post" class="form_box" id="contact-form" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="input_field">
                            {{ form.full_name.label_tag }}
                            {{ form.full_name }}
                            <small class="text-danger">{{ form.full_name.errors }}</small>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="input_field">
                            {{ form.company.label_tag }}
                            {{ form.company }}
                            <small class="text-danger">{{ form.company.errors }}</small>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="input_field">
                            {{ form.phone_number.label_tag }}
                            {{ form.phone_number }}
                            <small class="text-danger">{{ form.phone_number.errors }}</small>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="input_field">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            <small class="text-danger">{{ form.email.errors }}</small>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="input_field">
                            {{ form.website.label_tag }}
                            {{ form.website }}
                            <small class="text-danger">{{ form.website.errors }}</small>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg">
                            <p>{{ form.product_interest.label_tag }}</p>
                        </div>
                    </div>
                <div class="col-12">
                    <div class="radio_bg">
                        {% for radio in form.product_interest %}
                            <div class="radio_group">
                                {{ radio.tag }}
                                {{ radio.choice_label }}
                            </div>
                        {% endfor %}
                        <small class="text-danger">{{ form.product_interest.errors }}</small>
                    </div>
                </div>
                    <div class="col-12 mt-3">
                        <div class="text_write">
                            {{ form.enquiry.label_tag }}<span>*</span>
                            {{ form.enquiry }}
                            <small class="text-danger">{{ form.enquiry.errors }}</small>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="smt_btn mt-4">
                           
                            <button type="submit" class="btn btn-primary" onclick="submitForm()">Submit</button>
                            {% comment %} <button type="submit" class="btn btn-primary">Submit</button> {% endcomment %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    
    
  
  
    <!-- Modal-end -->
  <!-- Add this script at the end of your HTML file, before the </body> tag -->

    <script>
    
    // Function to show SweetAlert on form submission success or failure
    function showAlert(message, alertType) {
        swal({
        title: message,
        icon: alertType,
        button: "OK",
        });
    }
    </script>



    <script>
        // Function to handle form submission
        function submitForm() {
        document.getElementById('contactForm').submit();
        }
    
        // Django form submission success or failure handling
        {% if messages %}
        {% for message in messages %}
            showAlert("{{ message }}", "{{ message.tags }}");
        {% endfor %}
        {% endif %}
    </script>
<!-- Custom JavaScript for displaying messages with SweetAlert -->

   
    <!-- Contect Us Form Section End -->

{% endblock content %}