<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madmen Works</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/main.css/mobile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-xl  navbar-dark main_header" aria-label="Offcanvas navbar large">
        <div class="container-lg">
            <a class="navbar-brand" href="#">
                <div class="the_logo"><img src="assets/Image/main_logo.png" alt="" class="w-100"></div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
                aria-controls="offcanvasNavbar2">
                <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2"
                aria-labelledby="offcanvasNavbar2Label">
                <div class="offcanvas-header">
                    <!-- <h5 class="offcanvas-title" id="offcanvasNavbar2Label"></h5> -->
                    <a href=""><img src="assets/Image/main_logo.png" alt="" class="w-100"></a>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="manubar_main">
                    <ul class="navbar-nav manu_bg flex-grow-1 pe-3 mb-0">
                        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="about.html" class="nav-link">About Us</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Product Catalogue</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Our Services</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Sustainability</a></li>
                        <li class="nav-item menuBtn"><a href="" class="nav-link nav_btn">Contect Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- Banner-Section-Start -->
    <section class="main_banner py-lg-5 py-2">
        <div class="banner_body">
            <div class="container-lg">
                <div class="row justify-content-between align-items-center pb-5">
                    <div class="col-lg-6">
                        <div class="banner_text">
                            <h5>start your leather jacket business today</h5>
                            <p>We are the best leather goods manufacturers in India. Choose from our wide range of
                                products like belts, wallets, handbags, and more.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="clients_details float-lg-end">
                            <div class="text_bg">
                                <p>Our Clients</p>
                                <div class="clients_link d-flex align-items-center gap-2 pb-3">
                                    <div class="d-flex clinets_box">
                                        <div class="clients_image">
                                            <img src="assets/Image/Ellipse 2.png" alt="">
                                        </div>
                                        <div class="clients_image">
                                            <img src="assets/Image/Ellipse 3.png" alt="">
                                        </div>
                                        <div class="clients_image">
                                            <img src="assets/Image/Ellipse 4.png" alt="">
                                        </div>
                                        <!-- <div class="clients_image">
                                            <img src="assets/Image/about8.png" alt="">
                                        </div> -->
                                    </div>

                                    <div class="clients_meet">
                                        <a href="">See more+</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clients_link d-flex align-items-center gap-2 mt-2">
                                <div class="clients_image">
                                    <a href=""><img src="assets/Image/clients2.png" alt=""></a>
                                </div>
                                <div class="clients_meet">
                                    <p class="mb-0">Contect</p>
                                    <a href="">(+91) 7309902183</a>
                                </div>
                            </div>
                            <div class="decover_btn mt-4">
                                <a href="">Discover more</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="slider_main owl-carousel owl-theme">
                <div class="slider_image_body">
                    <img src="assets/Image/slider_image.png" alt="">
                </div>
                <div class="slider_image_body">
                    <img src="assets/Image/fullServices.png" alt="">
                </div>
                <div class="slider_image_body">
                    <img src="assets/Image/slider_image2.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Banner-Section-End -->

    <!-- you’ve come to the right place-Section-Start -->
    <section class="Right_place">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="right_place_text ">
                        <h5>You’ve Come To The Right Place</h5>
                        <p>Indian Leather Manufacturer created in 1989, is now among India’s leading producers of
                            leather apparels and accessories for men, women and kids. Indian Leather Manufacturer is
                            manned by 500+ committed employees across sections, backed by innovative in-house design and
                            design facilities.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right_place_image">
                        <img src="assets/Image/right_place1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1 order-2">
                    <div class="right_place_image ">
                        <img src="assets/Image/right_place2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-2 order-1 mt-lg-0 mt-3">
                    <div class="right_place_text">
                        <p>
                            and design facilities.Indian Leather Manufacturer is manned by 500+ committed employees
                            across sections, backed by innovative in-house design
                            and design facilities. The business has 3 advanced manufacturing components, housing very
                            modern machines to keep up with the fast-paced and
                            vibrant global leather industry. This evaluation is equal to a gold rating in LEED. This
                            mill is the first of its type in the leather market.
                            Currently, the business is providing its products to over 25 famous USA & European Brands
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- you’ve come to the right place-Section-End -->

    <!-- Section Of Numbers Start -->
    <section class="counter_number my-3 py-4">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4">
                    <div class="counter_bg">
                        <h5 id="counter">200</h5>
                        <p>State Of The Art Manufacturing Units​</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="counter_bg">
                        <h5>150</h5>
                        <p>Well-Known USA & European Brands​</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="counter_bg">
                        <h5>300</h5>
                        <p>State Of The Art Manufacturing Units​​</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Of Numbers End -->

    <!-- Disign Section Start -->
    <section class="main_design py-5">
        <div class="container-lg">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="design_containt">
                        <h5 class="mb-3">Design</h5>
                    </div>
                </div>
                <div class="col-12">
                    <div class="design_containt">
                        <p class="mb-3">INDIAN LEATHER MANUFACTURER includes a dedicated design studio, wherein a group
                            of designers creates new products, treatments, and techniques. Fusion of conventional
                            techniques such as hand padding, hand sewing, knife-cutting, and dip-dyeing with
                            contemporary methods such as laser cutting and embossing makes it prepare a flexible product
                            range.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="design_image">
                        <img src="assets/Image/design1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1 order-2">
                    <div class="design_image">
                        <img src="assets/Image/right_place1.png" alt="">
                    </div>
                </div>
                <div class="col-12 order-lg-2 order-1">
                    <div class="design_containt mt-3">
                        <p>Aside from its seasonal collections, the organization also works in close association with
                            its customers to come up with customer-specific merchandise range. The provider’s in-house
                            seasonal and customer-specific collections have been showcased in its own showrooms
                            merchandise range.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Disign Section End -->

    <!-- Why Choose Our Firm Section Start -->
    <section class="firm_main_section py-5">
        <div class="container-lg">
            <div class="row justify-content-between align-items-center mb-4">
                <div class="col-lg-4">
                    <div class="firm_content">
                        <h5>Why Choose Our Firm</h5>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="firm_contant_bg">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4 col-md-6">
                    <div class="firm_box">
                        <img src="assets/Image/setting.png" alt="">
                    </div>
                    <div class="image_text_bg">
                        <h5>Top quality leather</h5>
                        <p>Wide range of selection of full-grain and top-grain cow, buffalo, sheep, and goat skin
                            leather from top tannery around the world.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="firm_box">
                        <img src="assets/Image/setting2.png" alt="">
                    </div>
                    <div class="image_text_bg">
                        <h5>Huge product line</h5>
                        <p>Wide range of selection of full-grain and top-grain cow, buffalo, sheep, and goat skin
                            leather from top tannery around the world.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="firm_box">
                        <img src="assets/Image/setting3.png" alt="">
                    </div>
                    <div class="image_text_bg">
                        <h5>Skills & experience</h5>
                        <p>Wide range of selection of full-grain and top-grain cow, buffalo, sheep, and goat skin
                            leather from top tannery around the world.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="firm_box">
                        <img src="assets/Image/setting4.png" alt="">
                    </div>
                    <div class="image_text_bg">
                        <h5>Private label manufacturing</h5>
                        <p>Wide range of selection of full-grain and top-grain cow, buffalo, sheep, and goat skin
                            leather from top tannery around the world.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="firm_box">
                        <img src="assets/Image/setting5.png" alt="">
                    </div>
                    <div class="image_text_bg">
                        <h5>Rigorous quality control</h5>
                        <p>Wide range of selection of full-grain and top-grain cow, buffalo, sheep, and goat skin
                            leather from top tannery around the world.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="firm_box">
                        <img src="assets/Image/setting6.png" alt="">
                    </div>
                    <div class="image_text_bg">
                        <h5>Custom manufacturing</h5>
                        <p>Wide range of selection of full-grain and top-grain cow, buffalo, sheep, and goat skin
                            leather from top tannery around the world.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end align-items-center mt-4">
                <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
                    <div class="frim_image_bg">
                        <img src="assets/Image/frim1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="frim_image_bg">
                        <img src="assets/Image/frim2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-lg-0 mt-4">
                    <div class="frim_image_bg">
                        <img src="assets/Image/frim3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row justify-content-end align-items-center mt-4 ">
                <div class="col-lg-6 col-md-12 mb-lg-0 mb-4">
                    <div class="frim_image_bg">
                        <img src="assets/Image/frim4.png" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
                    <div class="frim_image_bg">
                        <img src="assets/Image/frim5.png" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="frim_image_bg">
                        <img src="assets/Image/frim6.png" alt="">
                    </div>
                </div>
            </div>
    </section>
    <!-- Why Choose Our Firm Section End -->

    <!-- What We Do Section Start -->
    <section class="Bags_bg py-5">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 col-12">
                    <div class="bags_text">
                        <h5>What We Do?</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-10 col-md-12">
                    <div class="link_btn">
                        <ul class="nav list_bg justify-content-center align-items-center gap-lg-4 gap-2" id="myTab"
                            role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active leather" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home-tab-pane" type="button" role="tab"
                                    aria-controls="home-tab-pane" aria-selected="true">Leather Garments</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link leather" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#profile-tab-pane" type="button" role="tab"
                                    aria-controls="profile-tab-pane" aria-selected="false">Leather Bags</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link leather" id="contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#contact-tab-pane" type="button" role="tab"
                                    aria-controls="contact-tab-pane" aria-selected="false">Leather Belts</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link leather" id="disabled-tab" data-bs-toggle="tab"
                                    data-bs-target="#disabled-tab-pane" type="button" role="tab"
                                    aria-controls="disabled-tab-pane" aria-selected="false">Small Leather Goods</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                            aria-labelledby="home-tab" tabindex="0">
                            <div class="row justify-content-center align-items-center mt-4">
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (1).png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (2).png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (3).png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (4).png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (5).png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                            tabindex="0">
                            <div class="row justify-content-center align-items-center mt-4">
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (1).png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (2).png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (3).png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (4).png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (5).png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                            tabindex="0">
                            <div class="row justify-content-center align-items-center mt-4">
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (1).png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (2).png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (3).png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (4).png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (5).png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab"
                            tabindex="0">
                            <div class="row justify-content-center align-items-center mt-4">
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (1).png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (2).png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (3).png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (4).png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="bags_image">
                                        <img src="assets/Image/Rectangle 24 (5).png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- What We Do Section End -->

    <!-- Sourcing Section Start -->
    <section class="sourcing_main py-5">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="sourcing_content">
                        <h5>Sourcing</h5>
                        <p>By virtue of being within this trade for such a long time, the business’s forte is
                            fabricating, in addition to sourcing. ILM functions using a thorough number of covers and
                            skins.</p>
                        <p>The business has its committed offices manned with a well-informed Quality Control staff in
                            any way of the prime leather sourcing centers across India. This not only eases developing
                            new leather attributes, but also assists the enterprise to maintain a strict excellent
                            control on majority leather manufacturing.</p>
                        <p>The metallic accessories, particularly, are sourced from China/Hong Kong. So far as zippers
                            are involved, they’re constantly YKK or even customer-specific, whilst leather, liner and a
                            broad selection of accessories used at the end goods are constantly REACH compliant.</p>
                        <div class="sourcing_link d-flex align-items-center flex-wrap  gap-5 pt-4">
                            <div class="enquiry_btn">
                                <a href="">Enquiry Now</a>
                            </div>
                            <div class="request_btn">
                                <a href="">Request for Quotation</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="sourcing_image">
                                <img src="assets/Image/sourcing1.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt-md-0 mt-4">
                            <div class="sourcing_image">
                                <img src="assets/Image/sourcing2.png" alt="">
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="sourcing_image">
                                <img src="assets/Image/frim3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Sourcing Section End -->

    <!-- Compliance Section Start -->
    <section class="compliance_main">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 col-12">
                    <div class="compliance_text">
                        <h5>Compliance</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-lg-2 col-md-6 col-6 ">
                    <div class="compliace_image">
                        <img src="assets/Image/complinces1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="compliace_image">
                        <img src="assets/Image/complinces2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="compliace_image">
                        <img src="assets/Image/complinces1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="compliace_image">
                        <img src="assets/Image/complinces3.png" alt="">
                    </div>
                </div>
            </div>

        </div>
        </div>
    </section>
    <!-- Compliance Section End -->

    <!-- Contect Us Form Section Start -->
    <section class="contect_us">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 col-12">
                    <div class="contect_text pb-4">
                        <h5>Contact us</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
            </div>
            <form action="" class="form_box">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="input_field">
                            <label for="">First name</label>
                            <input type="text" name="" id="" placeholder="first name">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="input_field">
                            <label for="">Last name</label>
                            <input type="text" name="" id="" placeholder="last name">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="input_field">
                            <label for="">Company</label>
                            <input type="text" name="" id="" placeholder="company">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="input_field">
                            <label for="">Phone number</label>
                            <input type="tel" name="" id="" placeholder="phone number">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="input_field">
                            <label for="">Your email</label>
                            <input type="email" name="" id="" placeholder="email">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="input_field">
                            <label for="">Your website</label>
                            <input type="text" name="" id="" placeholder="website">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg">
                            <p>Which Product/ Service Are You Interested In*</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="radio_bg">
                            <div class="radio_group">
                                <input type="radio" name="seletor" id="bg" class="large_radio">
                                <label for="bg">Leather Belt</label>
                            </div>
                            <div class="radio_group">
                                <input type="radio" name="seletor" id="bg2" class="large_radio">
                                <label for="bg2">Leather Belt</label>
                            </div>
                            <div class="radio_group">
                                <input type="radio" name="seletor" id="bg3" class="large_radio">
                                <label for="bg3">Leather Belt</label>
                            </div>
                            <div class="radio_group">
                                <input type="radio" name="seletor" id="bg4" class="large_radio">
                                <label for="bg4">Leather Belt</label>
                            </div>
                            <div class="radio_group">
                                <input type="radio" name="seletor" id="bg5" class="large_radio">
                                <label for="bg5">Leather Belt</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="text_write">
                            <label for="">Enquiry<span>*</span></label>
                            <textarea name="" id=""
                                placeholder="let us know in more detail how can we help you"></textarea>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="smt_btn mt-4">
                            <button type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Contect Us Form Section End -->


    <!-- Footer Section Start -->
    <footer class="main_footer">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer_image">
                        <img src="assets/Image/footer_logo.png" alt="">
                    </div>
                    <div class="footer_text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is
                            simply dummy text of the printing and typesetting industry. </p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="footer_content">
                                <h5>Contact Us:</h5>
                                <div class="link_footer d-flex">
                                    <p> <i class="fa-regular fa-envelope"></i></p>
                                    <p><a href="">mdsarwar1575@gmail.com</a></p>
                                </div>
                                <div class="link_footer d-flex">
                                    <p><i class="fa-solid fa-phone"></i></p>
                                    <p><a href="">(+91) 7309902183</a></p>
                                </div>
                                <h5>Location:</h5>
                                <div class="link_footer d-flex">
                                    <p> <i class="fa-solid fa-location-dot"></i></p>
                                    <p><a href="">9283 Hyatt Forks, Sout Bradleybury, IL 29180-8607</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="footer_content">
                                <h5>Quick Link’s:</h5>
                                <p><a href="">Home</a></p>
                                <p><a href="">About Us</a></p>
                                <p><a href="">Product Catalogue</a></p>
                                <p><a href="">Order Security</a></p>
                                <p><a href="">Sustainability</a></p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="footer_last_bg">
                                <div class="heading_bg">
                                    <h5>Follow Us:</h5>
                                </div>
                                <div class="social_icon">
                                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                                </div>
                            </div>
                            <div class="subscribe_bg mt-4">
                                <h5>Subscribe:</h5>
                                <input type="email" placeholder="Email Address">
                                <div class="sent_btn">
                                    <a href=""><i class="fa-solid fa-paper-plane"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="team_bg d-flex justify-content-lg-end justify-content-between align-items-center gap-5 mt-4">
                                <div class="left_bg">
                                    <a href="">terms and condition</a>
                                </div>
                                <div class="right_bg">
                                    <a href="">privacy policy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/java script/script.js"></script>
</body>
</html>