{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Banner-Section-Start -->
    <section class="main_banner">
        <div class="banner_body">
            <div class="container-lg">
                <div class="row justify-content-between align-items-center pb-lg-5 pb-4">
                    <div class="col-lg-6">
                        <div class="banner_text">
                            {% for item in banners %}
                                <h5>{{ item.title }}</h5>
                                <p>{{ item.description }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="clients_details float-lg-end">
                            <div class="text_bg">
                                <p>Our Clients</p>
                                {% for client in clients %}
                                <div class="clients_link d-flex align-items-center gap-2 pb-3">
                                    <div class="d-flex clinets_box">
                                        <div class="clients_image">
                                            <a href="{{ client.link }}"><img src="{{ client.image.url }}" alt="{{ client.name }}"></a>
                                        </div>                                              
                                    </div>

                                    <div class="clients_meet">
                                        <a href="{{ client.link }}">See more+</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="clients_link d-flex align-items-center gap-2 mt-2">
                                <div class="clients_image">
                                    <a href=""><img src="{% static 'assets/Image/clients2.png' %}" alt=""></a>
                                </div>
                                <div class="clients_meet">
                                    <p class="mb-0">Contact</p>
                                    <a href="">(+91) 7309902183</a>
                                </div>
                            </div>
                            <div class="decover_btn mt-4">
                                <a href="">Discover more</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="about_image">
                {% for item in banners %}
                <img src="{{ item.image.url }}" alt="{{ item.title }}" class="w-100">
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!-- Banner-Section-End -->

    <!-- we always make the best-Section-Start -->
    <section class="the_best">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 mb-lg-0 mb-2">
                    <div class="the_best_text">
                        <h5><label for="" class="color_text">Service</label> Beyond Expectations.</h5>
                        <p>ILM, since inception, has continued to carve a niche for itself as an iconic leather goods
                            company that manufactures leather goods for many prestigious brands around the world. For
                            many international fashions and luxury brands, ILM refers to a company manufacturing the
                            quality leather product.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="the_image">
                        <img src="{% static 'assets/Image/thaServices.png' %}" alt="" class="w-100">
                    </div>
                </div>
                <div class="col-lg-12 order-lg-1 order-2 mt-3">
                    <div class="full_ser_image ">
                        <img src="{% static 'assets/Image/fullServices.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-12 order-lg-2 order-">
                    <div class="full_ser_text 1">
                        <p>These brands face unique challenges so we provide solutions from Custom Leather
                            Manufacturing that meet those challenges and at the same time we also contribute as Private
                            Label Leather Manufacturer. As a leather products manufacturing company all these brands
                            rely on us to make quality leather goods and leather garments.</p>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- we always make the best-Section-End -->

    <!-- Section Of our storyStart -->
    <section class="our_story">
        <div class="container-lg">
            <div class="row">
                <div class="col-12">
                    <div class="story_contant">
                        <h5>What’s Our <label for="" class="color_text">Features</label></h5>
                        <p>Our features embody unparalleled craftsmanship and quality. From meticulously sourced materials to exquisite detailing, each product reflects timeless elegance and durability. We prioritize precision in design and functionality, ensuring every piece meets the highest standards of excellence. Experience luxury redefined with our distinctive leather creations.</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="story_image">
                        <img src="{% static 'assets/Image/futureimage.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="row justify-content-center">
                        <div class="col-2">
                            <div class="features_link">
                                <img src="{% static 'assets/Image/setting.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="features_text">
                                <h5>Meticulous Sourcing</h5>
                                <p>We carefully select premium materials from renowned tanneries worldwide to ensure superior quality. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="row justify-content-center">
                        <div class="col-2">
                            <div class="features_link">
                                <img src="{% static 'assets/Image/setting2.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="features_text">
                                <h5>Exquisite Craftsmanship</h5>
                                <p>Our artisans skillfully handcraft each piece with precision and attention to detail, resulting in impeccable finishes. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="row justify-content-center">
                        <div class="col-2">
                            <div class="features_link">
                                <img src="{% static 'assets/Image/setting3.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="features_text">
                                <h5>Timeless Design.</h5>
                                <p>Our products feature timeless designs that seamlessly blend elegance with functionality, making them enduring classics. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="row justify-content-center">
                        <div class="col-2">
                            <div class="features_link">
                                <img src="{% static 'assets/Image/setting4.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="features_text">
                                <h5>Durability</h5>
                                <p>Built to last, our leather goods are crafted with the finest materials and construction techniques, ensuring long-lasting quality.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="row justify-content-center">
                        <div class="col-2">
                            <div class="features_link">
                                <img src="{% static 'assets/Image/setting5.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="features_text">
                                <h5>Functionality</h5>
                                <p> Designed with practicality in mind, our products offer thoughtful features and organizational elements for everyday use. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="row justify-content-center">
                        <div class="col-2">
                            <div class="features_link">
                                <img src="{% static 'assets/Image/setting6.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="features_text">
                                <h5>Attention to Detail</h5>
                                <p>From intricate stitching to carefully chosen hardware, every aspect of our leather goods reflects our commitment to excellence. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Section Of our story End -->

    <!-- Happinese Section Start -->
    <section class="the_best">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="the_image">
                        <img src="{% static 'assets/Image/happinesGoal.png' %}" alt="" class="w-100">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="the_best_text">
                        <h5>Your Happiness Is Our <label for="" class="color_text">Goal.</label></h5>
                        <p>At Madmenwork, we prioritize your satisfaction above all else. From our exceptional products to our dedicated customer service, we strive to exceed your expectations at every turn. Your happiness is our ultimate goal, and we're committed to delivering an unparalleled experience tailored to your needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Happinese Section End -->

    <!-- trusted Section Start -->
    <section class="trusted_main">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="trust_text">
                        <h5>Trusted By 7493+ <label for="" class="color_text">Companies</label></h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been t when an unknown printer took a galley of </p>
                    </div>
                </div>
                <div class="col-lg-2 col-6">
                    <div class="trust_image">
                        <img src="{% static 'assets/Image/trustImage1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-6">
                    <div class="trust_image">
                        <img src="{% static 'assets/Image/trustImage2.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-6">
                    <div class="trust_image">
                        <img src="{% static 'assets/Image/trustImage3.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- trusted Section End -->

    <!-- Indian leather manufacturer services Start -->
    <section class="manufacturer_sec">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="manufacturer_text">
                        <h5><label for="" class="color_text">Indian Leather</label> Manufacturer Services</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="manufacturer_image_bg">
                        <img src="{% static 'assets/Image/manufacturer1.png' %}" alt="">
                    </div>
                    <div class="text_manufacturer_bg">
                        <p>Your Design | We Manufacture</p>
                        <h5>Custom Leather Product Manufacturer</h5>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="manufacturer_image_bg">
                        <img src="{% static 'assets/Image/manufacturer2.png' %}" alt="">
                    </div>
                    <div class="text_manufacturer_bg">
                        <p>Your Design | We Manufacture</p>
                        <h5>Private Leather Products Manufacturer</h5>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="manufacturer_image_bg">
                        <img src="{% static 'assets/Image/manufacturer3.png' %}" alt="">
                    </div>
                    <div class="text_manufacturer_bg">
                        <p>Your Design | We Manufacture</p>
                        <h5>Leather Quality Management</h5>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- Indian leather manufacturer services End -->

    <!-- Madmen Section start -->
    <section class="madmen_main">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-12">
                    <div class="medman_text">
                        <h5>What They Say about <label for="" class="color_text">Madmen Works</label></h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-lg-5 mt-3">
                <div class="col-lg-8">
                    <div class="slider_box owl-carousel owl-theme">
                        <div class="bg_slid">
                            <div class="slider_medman_body ">
                                <div class="slide_text_bg">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s,when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                    </p>
                                </div>
                                <div class="slide_heading">
                                    <h5>Loki Bright</h5>
                                    <p>Chief Executive Officer</p>
                                </div>
                                <div class="slide_bottom_image d-flex justify-content-center gap-3">
                                    <div class="image_bt">
                                        <img src="{% static 'assets/Image/medmanSlide3.png' %}" alt="" class="w-100">
                                    </div>
                                    <div class="image_bt">
                                        <img src="{% static 'assets/Image/medmanSlide2.png' %}" alt="" class="w-100">
                                    </div>
                                    <div class="image_bt">
                                        <img src="{% static 'assets/Image/medmanSlide1.png' %}" alt="" class="w-100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg_slid">
                            <div class="slider_medman_body ">
                                <div class="slide_text_bg">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s,when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                    </p>
                                </div>
                                <div class="slide_heading">
                                    <h5>Loki Bright</h5>
                                    <p>Chief Executive Officer</p>
                                </div>
                                <div class="slide_bottom_image d-flex justify-content-center gap-3">
                                    <div class="image_bt">
                                        <img src="{% static 'assets/Image/medmanSlide3.png' %}" alt="" class="w-100">
                                    </div>
                                    <div class="image_bt">
                                        <img src="{% static 'assets/Image/medmanSlide2.png' %}" alt="" class="w-100">
                                    </div>
                                    <div class="image_bt">
                                        <img src="{% static 'assets/Image/medmanSlide1.png' %}" alt="" class="w-100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg_slid">
                            <div class="slider_medman_body ">
                                <div class="slide_text_bg">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s,when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                    </p>
                                </div>
                                <div class="slide_heading">
                                    <h5>Loki Bright</h5>
                                    <p>Chief Executive Officer</p>
                                </div>
                                <div class="slide_bottom_image d-flex justify-content-center gap-3">
                                    <div class="image_bt">
                                        <img src="{% static 'assets/Image/medmanSlide3.png' %}" alt="" class="w-100">
                                    </div>
                                    <div class="image_bt">
                                        <img src="{% static 'assets/Image/medmanSlide2.png' %}" alt="" class="w-100">
                                    </div>
                                    <div class="image_bt">
                                        <img src="{% static 'assets/Image/medmanSlide1.png' %}" alt="" class="w-100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Madmen section End -->

    <!-- Contect Us Form Section Start -->
    <section class="contect_us">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 col-12">
                    <div class="story_contant">
                        <h5><label for="" class="color_text">Contact</label> Our</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <form action="" method="post" class="form_box" id="contact-form" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="input_field">
                            {{ form.full_name.label_tag }}
                            {{ form.full_name }}
                            <small class="text-danger">{{ form.full_name.errors }}</small>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="input_field">
                            {{ form.company.label_tag }}
                            {{ form.company }}
                            <small class="text-danger">{{ form.company.errors }}</small>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="input_field">
                            {{ form.phone_number.label_tag }}
                            {{ form.phone_number }}
                            <small class="text-danger">{{ form.phone_number.errors }}</small>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="input_field">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            <small class="text-danger">{{ form.email.errors }}</small>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="input_field">
                            {{ form.website.label_tag }}
                            {{ form.website }}
                            <small class="text-danger">{{ form.website.errors }}</small>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg">
                            <p>{{ form.product_interest.label_tag }}</p>
                        </div>
                    </div>
                <div class="col-12">
                    <div class="radio_bg">
                        {% for radio in form.product_interest %}
                            <div class="radio_group">
                                {{ radio.tag }}
                                {{ radio.choice_label }}
                            </div>
                        {% endfor %}
                        <small class="text-danger">{{ form.product_interest.errors }}</small>
                    </div>
                </div>
                    <div class="col-12 mt-3">
                        <div class="text_write">
                            {{ form.enquiry.label_tag }}<span>*</span>
                            {{ form.enquiry }}
                            <small class="text-danger">{{ form.enquiry.errors }}</small>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="smt_btn mt-4">
                           
                            <button type="submit" class="btn btn-primary" onclick="submitForm()">Submit</button>
                            {% comment %} <button type="submit" class="btn btn-primary">Submit</button> {% endcomment %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Contect Us Form Section End -->

    <!-- Compliance Section Start -->
    <section class="compliance_main">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 col-12">
                    <div class="story_contant">
                        <h5><label for="" class="color_text">Compliance</label></h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-lg-2 col-6">
                    <div class="compliace_image">
                        <img src="{% static 'assets/Image/complinces1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-6">
                    <div class="compliace_image">
                        <img src="{% static 'assets/Image/complinces2.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-6">
                    <div class="compliace_image">
                        <img src="{% static 'assets/Image/complinces1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-6">
                    <div class="compliace_image">
                        <img src="{% static 'assets/Image/complinces3.png' %}" alt="">
                    </div>
                </div>
            </div>

        </div>
        </div>
    </section>
    <!-- Compliance Section End -->
    <script>
    
        // Function to show SweetAlert on form submission success or failure
        function showAlert(message, alertType) {
            swal({
            title: message,
            icon: alertType,
            button: "OK",
            });
        }
        </script>
    
    
    
        <script>
            // Function to handle form submission
            function submitForm() {
            document.getElementById('contactForm').submit();
            }
        
            // Django form submission success or failure handling
            {% if messages %}
            {% for message in messages %}
                showAlert("{{ message }}", "{{ message.tags }}");
            {% endfor %}
            {% endif %}
        </script>

{% endblock content %}   